
  .large-text {
  
    width: 100%;                 /* Se adapta al ancho del contenedor padre */
    white-space: normal;         /* Permite múltiples líneas */
    word-break: break-word;      /* Rompe palabras largas si es necesario */
    overflow-wrap: break-word;   /* Alternativa para compatibilidad */
    overflow: visible;           /* Asegura que el contenido no se oculte */
    padding: 8px;
    box-sizing: border-box;
  }

  .option {
    display: flex;
    align-items: center;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  button {
    border: none;
    background-color: var(--mat-sys-on-surfice);
      mat-icon {
        color: var(--mat-sys-on-primary-container);
    }
  }