<mat-card appearance="outlined">
    <mat-card-content>
        <label>{{question.description}}</label>
        <mat-radio-group [(ngModel)]="question.correctOptionIndex">
            <p *ngFor="let option of question.options; let i =index">
                <mat-radio-button class="expand-radio" [value]="i">{{option.description}}</mat-radio-button>
            </p>
        </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Learn More</button>
    </mat-card-actions>
</mat-card>