<section class="layout">
    <div class="leftSide"></div>
    <div class="body">

        <app-input-data [title]="'Nuevo Cuestionario'" (action)="save()"></app-input-data>

        <section class="newQuestion">
            <app-question-creation (create)="create($event)" (cancelEdition)="cancelEdition()" (update)="update($event)"
            [questionCreateUpdate]="getQuestionCreateUpdate()" [editAction]="isEdition()"></app-question-creation>
        </section>
        <section class="questions">
            <app-single-selection-question *ngFor="let question of getQuestions(); let i = index"
                [question]="question" [index]="i" [deleteAction]="true" [updateAction]="true"
                (delete)="delete($event)" (update)="edit($event)"></app-single-selection-question>
        </section>
    </div>
    <div class="rightSide"></div>
</section>