<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="240px">
    <mat-grid-tile>
        <mat-list>
            <mat-list-item>
                <mat-icon>group</mat-icon>
                linkedin.com/in/js-rom
            </mat-list-item>
            <mat-list-item>
                <mat-icon>location_on</mat-icon>
                Seville
            </mat-list-item>
            <mat-list-item>
                <mat-icon>call</mat-icon>
                +34 913366000
            </mat-list-item>
            <mat-list-item>
                <mat-icon>mail_outline</mat-icon>
                jesus.romerovidal&#64;gmail.com
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-list>
            <div mat-subheader>Artifact versions</div>
            <mat-list-item>
                <mat-icon>computer</mat-icon>
                Front-end - {{ version }}
            </mat-list-item>
            <mat-list-item>
                <mat-icon>cloud_queue</mat-icon>
                Back-end Core: {{ backEndCore }}
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-list>
            <div mat-subheader>About us</div>
            <mat-list-item>Jesús Romero Vidal</mat-list-item>
            <mat-list-item>FP Desarrollo de Aplicaciones Web</mat-list-item>
            <mat-list-item>Proyecto fin de ciclo DAW</mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>