
.layout {
  width: 100%;

  display: grid;
  grid-template-areas: "header"
                        "body"
                        "footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.header { grid-area: header; }
.body { grid-area: body; }
.footer { grid-area: footer; }





