/* app.component.scss o styles.scss */


.header {
  background: var(--mat-sys-on-primary-container);
}

mat-sidenav {
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
}

mat-toolbar {
  display: flex;
  justify-content: end;
  color: var(--mat-sys-on-primary-container);

}

button {
  color: var(--mat-sys-on-primary-container);
}

.hamburger {
  border: none;
  background-color: var(--mat-sys-surface);
  
}



